/*
 * Qualcomm APQ8096 based Dragonboard 820C board device tree source
 *
 * (C) Copyright 2017 Jorge Ramirez-Ortiz <jorge.ramirez-ortiz@linaro.org>
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/dts-v1/;

#include "skeleton64.dtsi"

/ {
	model = "Samsung S9 (SM-G9600)";
	compatible = "qcom,sdm845-mtp", "qcom,sdm845", "qcom,mtp";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &debug_uart;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0 0x80000000 1 0x0>;
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	soc: soc {
	    u-boot,dm-pre-reloc;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0 0 0xffffffff>;
		compatible = "simple-bus";

        debug_uart: serial@0xa84000 {
            u-boot,dm-pre-reloc;
		    compatible = "qcom,msm-geni-uart";
		    //, "qcom,msm-uartdm";
    		//compatible = "qcom,msm-geni-console", "qcom,msm-geni-uart";
    		reg = <0xa84000 0x4000>;
    		reg-names = "se_phys";
    		//clock-names = "se-clk", "m-ahb", "s-ahb";
    		//clocks = <0x21 0x58 0x21 0x68 0x21 0x69>;
    		//pinctrl-names = "default", "sleep";
    		//pinctrl-0 = <0x88>;
    		//pinctrl-1 = <0x89>;
    		//interrupts = <0x0 0x162 0x0>;
    		qcom,wrapper-core = <0x8a>;
    		status = "ok";
    		//linux,phandle = <0x398>;
    		//phandle = <0x398>;
    	};

        muic_i2c14: i2c@a98000 {
        	#address-cells = <1>;
        	#size-cells = <0>;
        	compatible = "i2c-gpio";
        	status = "ok";
        	gpios = <
               	&tlmm 33 0 /* sda */
        	    &tlmm 34 0 /* scl */
            >;
        	i2c-gpio,delay-us = <5>;

        	sm5720@66 {
        	};
        };

        tlmm: pinctrl@3400000 {
			compatible = "qcom,sdm845-pinctrl";
			reg = <0x03400000 0xc00000>;
			gpio-count = <150>;
			//interrupts = <GIC_SPI 208 IRQ_TYPE_LEVEL_HIGH>;
			gpio-controller;
			#gpio-cells = <2>;
			//interrupt-controller;
			//#interrupt-cells = <2>;
			gpio-ranges = <&tlmm 0 0 150>;
			//wakeup-parent = <&pdc_intc>;

            muic_i2c: muic_i2c {
						pins = "gpio25", "gpio26";
						drive-strength = <0x2>;
						bias-disable;
			};

			/* DEBUG UART */
            qup_uart9_default: qup-uart9-default {
				pinmux {
					pins = "gpio4", "gpio5";
					function = "qup9";
				};
			};
		};
	};
};
